html,body {
	height:100%;
}
body {
	margin:0;
	padding:0;
  background:#000;
	font-family:Helvetica,arial,serif;
	font-size:1em;
	color:#FFF;
}
p,h1,h2,ul,li {
	padding:0;
	margin:0;
	list-style:none;
}
a {
	outline:none;
	text-decoration:none;
	color:#FFF;
}
a,p,span,h1 {
	font-family:Helvetica,arial,serif;
}
a:hover {
	text-decoration:underline;
  cursor: pointer;
  cursor: hand;
}
.zebra1 {
	color:#c80308;
}
.zebra2 {
	color:#FFF;
}
h1 {
  margin-top:35px;
  font-size:4em;
  letter-spacing:-2px;
}
h1 a:hover {
	text-decoration:none;
}
#wrapper {
}
#content {
	max-width:1100px;
        margin: 0px auto;
        padding: 5px;
}
ul.general {
	height:40px; /* Offset above the list of links */
	font-family:'Arvo',arial,serif;
}
li.icon {
  display: inline-block;
  margin-right: 2px;
}
img.icon {
  height: 32px;
  width: 32px;
}
.flex-tile-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
}
.flex-tile {
  flex: 1;
  margin: 0px 10px 10px 0px;
}
.tile {
  position:relative;
}
.tile:hover {
	transform: scale(1.01);
}
.tile-title {
  position: absolute;
  z-index: 1000;
  background-color: rgba(147,71,190,0.7);
  width: 100%;
  padding: 10px 0px;
}
.tile-title-text {
  margin-left: 5px;
}
.tile-description {
  font-size: 12px;
  width: 300px;
  margin: 10px 0px;
}
.tile-youtube-link {
  position: absolute;
  top: 100px;
  left: 60px;
}
.tile-doc-link {
  position: absolute;
  top: 100px;
  right: 60px;
}
.tile, img.tile {
  width: 300px;
  height: 222px;
}
#sine_wave_city_tile img {
	width: 300px;
	height: auto;
	top: 20%;
}

#video_iframe{
  position:absolute;
  z-index: 5000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0,0,0,0.7);
}
.video_close {
  position:absolute;
  top: 10px;
  right: 10px;
  width: 32px;
height: 32px;
}
.video_player {
  margin: 10% auto;
}
