.game-header-area {
  margin-top: 35px;
}
h1 {
  margin-top: 0p;
  font-size:1.5em;
  letter-spacing:-1px;
}
h2 {
  margin-top: 10px;
}
.game-header-word {
  display: inline-block;
  margin-top: 15px;
  width: 100px;
  border: 1px solid white;
}
.game-header-word:first-letter {
  font-size:2em;
}
.game-top-link {
  display: inline-block;
}

.game-top-link a {
  color: #00D2FF;
}

.game-top-link a.active {
  color: #CEBA7D;
}

.game-top-link a:hover {
  color: #CEBA7D;
}

.game-top-link+.game-top-link:before
{
  content: '| ';
  color: #FFFFFF;
}

.game-content-container{
  margin-top:20px;
}

.game-content-image {
  max-width: 700px;
}
.game-content-image-small {
  max-width: 350px;
}
.game-gold-circle {
  display: inline-block;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  background: gold;
}
.game-item-shop-container {
  display: flex;
  justify-content: center;
}
.game-item-shop {
  max-width: 500px;
}
.game-item-name {

}
.game-item-damage {
  float: left;
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap
}
.game-item-damage:after { content: " .................................................................................." }
.game-item-price {
  float: left;
  width: 100px;
  overflow: hidden
}