body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: arial;
    font-weight: bold;
    font-size: 72px;
    background-color: #008952;
}

.kit-prefix {
    text-align: center;
    color: #FFF200;
}

.subheader {
    font-size: 38px;
    text-align: center;
}

.subsubheader {
    font-size: 28px;
    text-align: center;
}

.kit-status {
    text-align: center;
    color: #F9F8F6;
}

.challenge-summary {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.player-summary {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.player-name {
    font-size: 40px;
}

.player-summary.red {
    border: 5px solid red;
}
.player-summary.white {
    border: 5px solid white;
}
.player-summary.green {
    border: 5px solid green;
}

.border-left, .border-right {
}
